.open-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: #0271e1;
  cursor: pointer;
}

.chevron-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.up {
  transform: rotate(180deg);
}
