.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 105px;
  color: #0271e1;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  border: 1px solid #e3e5e8;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
}

.tile:hover,
:focus {
  border-color: #0271e1;
}

.tile-icon {
  width: 40px;
  height: 40px;
}

.tile-title {
  margin: 0;
  padding: 0 10px;
  color: #0271e1;
  font-size: 14px;

  @media (min-width: 760px) {
    font-size: 16px;
  }
}
